
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap');

@import url("https://use.typekit.net/lnt5afl.css");


/* Logo Section
--------------------------------*/
@font-face {
  font-family: andromeda; 
  src: url('../fonts/andromeda.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/andromeda.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/andromeda.ttf') format('truetype'), /* Super Modern Browsers */
       url('../fonts/andromeda.ttf') format('truetype'), /* Pretty Modern Browsers */
       url('../fonts/andromeda.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/andromeda.ttf#svgFontName') format('truetype'); /* Legacy iOS */

}

body {
  font-family: 'Aleo', serif; 



  /* font-family: 'Roboto', sans-serif; */

  /* font-family: 'Playfair Display', serif; this is for menus*/   

  /* font-family: droid-sans, sans-serif; */


}

p, li{
  font-weight: 375;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-align: left;
}

@media (max-width: 769px) {
  li {
    list-style-type: none;
    margin: 20px 0;
  }
}

strong {
  font-weight: 600;
}


h1, h2, h3, h4, h5 {
  font-family: 'Aleo', serif; 
  font-variant: small-caps;
  letter-spacing: 0.085em;
}

h6 {
  font-family: 'Aleo', serif; 
  letter-spacing: 0.085em;
}

a {
  color: aqua;
}

.v-logo {
  font-family: andromeda;
  font-variant: small-caps;
}

.iit-email {
  width: 35%;
  height: auto;
  
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.v-logo-image {
  max-width: 30%;
}

@media (max-width: 1201px) {
  .v-logo-image {
    max-width: 60%;
  }
}

@media (max-width: 769px) {
  .v-logo-image {
    max-width: 100%;
  }
}

.iit-logo-image {
  max-width: 20%;

}

.tab {
  display: inline-block;
  margin-left: 40px;
}
@media (max-width: 769px) {
  .tab {
    margin-left: 0px;
  }
}

.tab-right {
  display: inline-block;
  margin-right: 40px;
}
@media (max-width: 769px) {
  .tab {
    margin-right: 0px;
  }
}

.my-container {
  margin: 1%;
  padding: 10px 10px 10px;
  background-color: rgba(15, 40, 78, 0.50);
  border-radius: 1em/1em;
}

.highlight-container {
  margin: 1%;
  padding: 20px 15px 10px;
  background-color: rgba(15, 40, 78, 0.5);
  border-radius: 1em/1em;

  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

}

.highlight-container:hover {
  /* color: black; */
  background-color: rgba(15, 40, 78, 0.25);

}

.padding-bottom{
  display: block;
  margin-bottom: 1.0em;
}

.half-border:before {
  content : "";
  position: absolute;
  left    : 0;
  top  : 35%;
  width  : 3px;
  height   : 30%;  
  background: rgb(255, 255, 255);

}
@media (max-width: 769px) {
  .half-border:before {
    display: none;
  }
}


.very-small-text {
  font-size: 12px;
}
@media (max-width: 1201px) {
  .very-small-text {
    display: none;
  }
  }

.fit-image{
  width: 100%;
  object-fit: cover;
  }


/* Background Section
--------------------------------*/

.background-solid-color {
  opacity: 1;
  background: #0073B3; /* Old browsers */
  background: -moz-linear-gradient(top, #0073B3 0%, #0073B3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0073B3 0%,#0073B3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0073B3 0%,#0073B3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0073B3', endColorstr='#0073B3',GradientType=0 ); /* IE6-9 */


}

.background-rounded {
  background-color: rgba(247, 247, 247, 0.233);
  border-radius: 1%;
  padding: 5% 10%;


}

.crisp-image {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

/* Team Section
--------------------------------*/
#team .team-block {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  height: 254px;
  overflow: hidden;
  position: relative;
  width: 100%;
  color: black;
}

@media (max-width: 991px) {
  #team .team-block {
    margin-bottom: 30px;
  }
}

#team .team-block img {
  width: 100%;

  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

/* Default Padding : 20 */
#team .team-block .team-content {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
  bottom: -147px;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-in-out 0s;
}

/* Default display: Block */
#team .team-block .team-content ul {
  display: none;
  width: 100%;
}


#team .team-block .team-content ul li {
  display: inline-block;
}

#team .team-block .team-content ul li a {
  color: #626262;
}

#team .team-block .team-content ul li a .fa {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}

#team .team-block .team-content ul li a .fa:hover {
  color: #71c55d;
}

#team .team-block .team-content ul > span {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* Buttom Default : 0 */
#team .team-block:hover .team-content {
  bottom: -25px;  
  transition: all 0.5s ease-in-out 0s;
}

#cf {
  position:relative;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  transition: all 0.5s ease-in-out 0s;
}

#cf a img{
  position:absolute;
  left:0;
  transition: all 0.5s ease-in-out 0s;

  z-index: 1;
}



#cf img.top:hover {
  opacity:0;
}

#cf a img:hover {
  opacity:0;
  
}

